.all{ 
    background-color: bisque ;    ;
}


.text{
    color: black;
    border-style: solid;
    background-color: whitesmoke ;
    padding: 45px;
    margin: 0px;
    border-radius: 30px;
    height: 355px;
    width: 215px;
    border-color: white;
}

.samsung{
    color: #8c7851;
}

.buy{
    background-color: orangered;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    padding: auto;
    cursor: pointer;
    
}

.second{
    color: black;
    border-style: solid;
    background-color: whitesmoke ;
    padding: 45px;
    margin: 0px;
    border-radius: 30px;
    height: 355px;
    width: 215px;
    border-color: white;
}

.buds{
    color: #8c7851;
}

.add{
    background-color: blueviolet;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    padding: auto;
    cursor: pointer;
    
}